<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ChefKrishFullSuite" verbose="1">
  <test name="API">
    <classes>
      <class name="com.chefkrish.qa.api.HealthEndpointTest"/>
      <class name="com.chefkrish.qa.api.ChatEndpointTest"/>
      <class name="com.chefkrish.qa.api.OrderEndpointTest"/>
      <class name="com.chefkrish.qa.api.AdminEndpointTest"/>
    </classes>
  </test>
  <test name="UI">
    <classes>
      <class name="com.chefkrish.qa.ui.ChefKrishUiSmokeTest"/>
    </classes>
  </test>
</suite>
